<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.app.GestureGame"
      android:versionCode="1"
      android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Main.GestureGame"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Profile.SentencesList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.LIST" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Setting.Settings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SETTINGS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Setting.EditSensitivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.EDITSENSITIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".Setting.EditDebug"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.EDITDEBUG" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        
        <activity android:name=".Setting.ManageSentence"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MANAGESENTENCE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Setting.LoadProfile"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.LOADPROFILE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Setting.ManageProfile"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MANAGEPROFILE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Bluetooth.DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
        
        <activity android:name=".GameGui.GameGui"></activity>
        
        <activity android:name=".ThreeD.OpenGLDemoActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.OPENGLDEMOACTIVITY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>